*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    position: relative;
}

/*  HEADER */

header{
    background-color: #ff6900;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 99;
}

header>img{
    height: 2em;
}

header>nav>a{
    color: white;
    text-decoration: none;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
}
main>div{
    width: 75%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* PRODUCT IMAGE */

.product-frame{
    width:32%;
    min-height: 500px;
    padding-top: 100px;
}

.product-frame>div>img{
    width: 100%;
}

.product-image{
    position: relative;
}

.stickers{
    position: relative;
    display: flex;
    position: absolute;
    bottom: 30px;
    gap: 5px;
}

.sale-sticker{
    background-color: #fd0f0f;
    padding: 0.3em;
}

.sustainable-sticker{
    background-color: #008000;
    padding: 0.3em;
}

.liked-element{
    color: black;
    background-color: white;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    top: 2%;
    right: 0;
    width: 1em;
}

/* PRODUCT SUBTITLE */

.product-subtitle>span{
    font-size: 0.9em;
}

.product-subtitle :nth-child(3){
    color: #ff1a05;
    font-weight: 700;
}

.product-subtitle :last-child{
    text-decoration: line-through;
}

/* FOOTER */

