*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

/*  HEADER */

header{
    background-color: orange;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: fixed;
}

header>img{
    height: 2em;
}

header>nav>a{
    color: white;
    text-decoration: none;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
}
main>div{
    width: 75%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productframe{
    width:30%;
    min-height: 500px;
}

.productframe>img{
    width: 100%;
}



/* FOOTER */

